# Named Entity Recognition Part 2 — Workbook Solutions

In this lesson, we're going to learn about a text analysis method called *Named Entity Recognition* (NER). This method will help us computationally identify people, places, and things (of various kinds) in a text or collection of texts.

*Note: You can explore this [workbook](https://mybinder.org/v2/gh/INFO1350/Intro-CA-SP21/master?urlpath=lab/tree/book/05-Text-Analysis/06.5-Named-Entity-Recognition-WORKBOOK.ipynb) in the cloud via Binder.*

---

## Install spaCy and Download Language Model

If you haven't installed spaCy yet, you should uncomment and run these cells. If you've already installed spaCy and the language model, you don't need to do it again.

In [ ]:
#!pip install -U spacy
#!python -m spacy download en_core_web_sm

## Import Libraries

We're going to import `spacy` and `displacy`. We're also going to import the `Counter` module for counting people, places, and things, and the `pandas` library.

In [1]:
import spacy
from spacy import displacy
import en_core_web_sm

from collections import Counter
import pandas as pd
pd.options.display.max_rows = 600

## Load Language Model

We need to load the language model and save it as the variable `nlp`

In [2]:
nlp = en_core_web_sm.load()

## NER with Hand Curation

In [3]:
filepath = "../texts/literature/The-House-on-Mango-Street-Sandra-Cisneros.txt"
text = open(filepath).read()
document = nlp(text)

### Use spaCy to identify places

In [4]:
places = []
for named_entity in document.ents:
    if named_entity.label_ == 'LOC' or named_entity.label_ == "GPE":
        places.append(named_entity.text)
places_tally = Counter(places)
df = pd.DataFrame(places_tally.most_common(), columns=['place', 'count'])
df

             place  count
0            Marin     15
1           Mexico      4
2        Aunt Lala      4
3            Texas      3
4           Loomis      2
5          Paulina      2
6           France      2
7            Mango      2
8      Puerto Rico      2
9          Yolanda      2
10        Rachel’s      2
11  North Broadway      2
12          Vargas      1
13          Rachel      1
14            Juan      1
15           Louie      1
16        Vargases      1
17             Ted      1
18          Albert      1
19         Armando      1
20          Margie      1
21           Licha      1
22        Geranium      1
23          Bianca      1
24           Nacho      1
25         Chicago      1
26         Beatles      1
27       Milwaukee      1
28          Uptown      1
29       Tennessee      1
30          Edna’s      1
31           South      1
32        Mamasota      1
33       Breakfast      1
34        Rapunzel      1
35           Egypt      1
36        Kentucky      1
37            Mars      1
38           India      1
39    Mango Street      1

### Output places to CSV file

In [5]:
df.to_csv("spacy-places.csv", encoding="utf-8", index=False)

### Manually curate CSV file

In [6]:
confirmed_df = pd.read_csv("confirmed-places.csv", encoding="utf-8")
confirmed_places = confirmed_df['place'].to_list()

### Match *all* named entities if they match the curated list

In [7]:
places = []
for named_entity in document.ents:
    # Check to see if named entity matches one of the manually curated places
    if named_entity.text in confirmed_places:
        places.append(named_entity.text)
places_tally = Counter(places)
df = pd.DataFrame(places_tally.most_common(), columns=['place', 'count'])
df

             place  count
0     Mango Street     16
1           Loomis      4
2           Mexico      4
3            Texas      3
4          Paulina      2
5           France      2
6      Puerto Rico      2
7   North Broadway      2
8          Chicago      1
9        Milwaukee      1
10          Uptown      1
11       Tennessee      1
12           Egypt      1
13        Kentucky      1
14            Mars      1
15           India      1

## Get NER in Context

We can use spaCy to get individual sentences from documents with `document.sents`

In [8]:
sentences = [sentence for sentence in document.sents]

Let's randomly examine sentences 101-105 in this list.

In [9]:
sentences[100:104]

[,
 My great-grandmother.,
 I would’ve liked to have known her, a wild horse of a woman, so wild she wouldn’t marry.,
 Until my great-grandfather threw a sack over her head and carried her off.]

Because we can grab sentences, we can make a function that locates named entities in the context of the sentence in which they appear. 

We will loop through all the sentences, and if a keyword appears in one of the named entities, then we will display the keyword bolded and with its entity label.

In [10]:
from IPython.display import Markdown, display
import re

def get_ner_in_context(keyword, document):
     
    #Iterate through all the sentences in the document and pull out the text of each sentence
    for sentence in document.sents:
        for named_entity in sentence.ents:
            #Check to see if the keyword is in the sentence (and ignore capitalization by making both lowercase)
            if keyword.lower() in named_entity.text.lower():
                #Use the regex library to replace linebreaks and to make the keyword bolded, again ignoring capitalization
                sentence_text = re.sub('\n', ' ', sentence.text)
                sentence_text = re.sub(f"{named_entity.text}", f"**{named_entity.text}**", sentence_text, flags=re.IGNORECASE)

                display(Markdown(f'---\n**{named_entity.label_}**  \n{sentence_text}'))

In [11]:
get_ner_in_context("Egypt", document)

---
**GPE**
Sally is the girl with eyes like **Egypt** and nylons the color of smoke.

In [12]:
get_ner_in_context("India", document)

---
**GPE**
I read somewhere in **India** there are priests who can will their heart to stop beating.

In [13]:
get_ner_in_context("Mars", document)

---
**LOC**
There were sunflowers big as flowers on **Mars** and thick cockscombs bleeding the deep red fringe of theater curtains.

In [14]:
get_ner_in_context("Puerto Rico", document)

---
**GPE**
She lives with Louie’s family because her own family is in **Puerto Rico**.

---
**GPE**
Marin’s boyfriend is in **Puerto Rico**.

## Process Multiple Documents

To run spaCy on multiple documents, we will use `list(nlp.pipe(texts))`. We will test this out on NYT obituaries.

In [15]:
import glob
from pathlib import Path
import random

Make a list of all files that end with `.txt` in the `NYT-Obituaries` directory

In [16]:
directory = "../texts/history/NYT-Obituaries"
files = glob.glob(f"{directory}/*.txt")

Create a list of all the NYT obituary texts

In [17]:
texts = []
for file in files:
    text = open(file, encoding='utf-8').read()
    texts.append(text)

Randomly select 50 obituaries from the list of texts

In [18]:
texts = random.sample(texts, 50)

Process all the texts

In [19]:
documents = list(nlp.pipe(texts))

## Get People for Multiple Documents

We can use almost the exact same workflow, but we have to add one more for lop to consider each document in the list of documents.

In [20]:
people = []

# Consider each document in the list of processed documents
for document in documents:
    for named_entity in document.ents:
        if named_entity.label_ == 'PERSON':
            people.append(named_entity.text)

people_tally = Counter(people)

df = pd.DataFrame(people_tally.most_common(), columns=['character', 'count'])
df[:100]

                character  count
0                   Sadat     66
1                  Barnum     63
2                  Stalin     58
3               Gillespie     48
4                   Rabin     47
5                Sinclair     45
6                Selznick     44
7                 Gromyko     43
8                  Watson     38
9                 Sinatra     38
10                 Keller     38
11                 Burton     32
12                  Leary     31
13               Houseman     29
14                  Lenin     27
15                Hawkins     25
16                  White     23
17                Jackson     21
18                 Kenton     20
19              Pasternak     19
20              Stevenson     19
21               Mitchell     18
22              Hitchcock     18
23                  Capra     18
24               Sullivan     17
25                  Haley     16
26                  Jumbo     16
27                  Busch     15
28               Carnegie     15
29                 Merman     15
30             Miss Smith     14
31                Bergman     14
32                Trotsky     13
33                 Nasser     13
34                Kennedy     12
35                 Taylor     12
36                 Welles     12
37               Osbourne     12
38                 Wright     12
39              Gorbachev     12
40                Lardner     12
41             O'Sullivan     12
42             Kate Smith     11
43                 Vargas     11
44                  Begin     11
45                Collins     10
46            Shakespeare     10
47                Schultz     10
48                  Young     10
49            Miss Keller     10
50                Cornell     10
51                 Parker      9
52            Miss Rankin      9
53           Senora Peron      8
54                   Bell      8
55                 Planck      8
56            Miss Merman      8
57           Miss Cornell      8
58                   Kate      7
59                 Dorsey      7
60                  Oscar      7
61                  Ravel      7
62                 Carter      7
63                   Jane      7
64                 Cather      7
65                 Hughes      7
66                 Reagan      6
67              Roosevelt      6
68             Khrushchev      6
69                  N. Y.      6
70                Richard      6
71             Kingsfield      6
72             Rossellini      6
73              Kissinger      6
74  Franklin D. Roosevelt      5
75          Senhor Vargas      5
76            Stan Kenton      5
77                Rebecca      5
78         Ingrid Bergman      5
79                  Myron      5
80                 Sperry      5
81              Tom Thumb      5
82           Miss Thomson      5
83                Lindsay      5
84           Vivien Leigh      4
85            Clark Gable      4
86        Dizzy Gillespie      4
87        Coleman Hawkins      4
88               Calloway      4
89      David O. Selznick      4
90                  Nixon      4
91               Brezhnev      4
92                  Deeds      4
93             Jenny Lind      4
94                  Styne      4
95              Radcliffe      4
96                  Helen      4
97      Katharine Cornell      4
98               Barretts      4
99                   Ruth      4

## Process a Long Text

If you try to use spaCy on a long document, such as a long novel, you will likely get an error. To process a long document, we need to break up the text in some way.

In [21]:
filepath = "../texts/literature/Pride-and-Prejudice_Jane-Austen.txt"
text = open(filepath).read()

Here we split up *Pride and Prejudice* by line breaks and make it into a long list. Then we run spaCy on this long list.

In [22]:
chunked_text = text.split('\n')
chunked_documents = list(nlp.pipe(chunked_text))

In [23]:
entities = []

# Consider each document in the list of processed documents
for document in chunked_documents:
    for named_entity in document.ents:
        if named_entity.label_ == 'PERSON':
            entities.append(named_entity.text)

entity_tally = Counter(entities)

df = pd.DataFrame(entity_tally.most_common(), columns=['entity', 'count'])
df

                       entity  count
0                   Elizabeth    616
1                       Darcy    399
2                        Jane    287
3                      Bennet    229
4                     Wickham    178
5                     Collins    164
6                     Bingley    137
7                       Lizzy     92
8                    Gardiner     88
9              Lady Catherine     83
10               Miss Bingley     49
11                    Meryton     44
12                Miss Bennet     35
13                    William     34
14                Fitzwilliam     34
15                      Hurst     29
16                  Catherine     28
17                    Forster     23
18                       Mary     21
19                    Philips     20
20                      Maria     18
21                   Brighton     18
22                 Lady Lucas     16
23                Netherfield     15
24                       Long     14
25                   Caroline     13
26                      Kitty     11
27                      Lucas     10
28                      Denny     10
29                  Jenkinson      9
30              William Lucas      8
31                 Miss Lucas      8
32                  Charlotte      8
33                       Hill      8
34                  De Bourgh      8
35                      Lydia      8
36                   Reynolds      8
37                 Miss Eliza      7
38            Charlotte Lucas      7
39             Miss De Bourgh      7
40           Elizabeth Bennet      6
41                    Charles      6
42   Lady Catherine de Bourgh      6
43             George Wickham      6
44                  Longbourn      5
45                      Jones      5
46                         F.      5
47                      Eliza      4
48                     Carter      4
49                     Louisa      4
50                   Hunsford      4
51        Catherine de Bourgh      4
52             Miss de Bourgh      4
53               Miss Bennets      4
54                  Miss King      4
55                       Anne      4
56                Lucas Lodge      3
57                   Robinson      3
58                   Annesley      3
59                 Michaelmas      2
60                Maria Lucas      2
61            William Lucas's      2
62          Miss Eliza Bennet      2
63          Lady Catherine de      2
64                     Bourgh      2
65                    Rosings      2
66                  Georgiana      2
67                 T. Egerton      2
68                       Earl      2
69                     Younge      2
70                  Pemberley      2
71                  Mary King      2
72               Gretna Green      2
73               Lydia Bennet      2
74                     Morris      1
75              Bennet.--They      1
76                  Jane.--"I      1
77                      Vingt      1
78              Darcy!--There      1
79                     Watson      1
80                Jane Bennet      1
81                  Cheapside      1
82         Elizabeth Bennet's      1
83                  Westerham      1
84            Lewis de Bourgh      1
85      Catherine de Bourgh's      1
86                    Richard      1
87              Philips.--The      1
88                 Anne Darcy      1
89                 Darcy.--_I      1
90                Darcy:--but      1
91               Bingley.--It      1
92                Darcy?--You      1
93       affected.--Elizabeth      1
94           Miss de Bourgh's      1
95               Bennet;--she      1
96                      Speak      1
97               Darcy;--that      1
98               Neither Jane      1
99          Fitzwilliam Darcy      1
100                Darcy!--My      1
101                 Gardiners      1
102           Lewis De Bourgh      1
103         Lewis de Bourgh's      1
104           Lady Metcalfe's      1
105                      Pope      1
106               De Bourgh's      1
107               Darcy.--She      1
108      Elizabeth drily--"Mr      1
109                   Bromley      1
110            Charlotte!--it      1
111                     Mamma      1
112                   Harriet      1
113              Chamberlayne      1
114                     Pratt      1
115              Miss Lucases      1
116                 Had Lydia      1
117           Pemberley Woods      1
118                  Bakewell      1
119                Miss Darcy      1
120             Dearest Lizzy      1
121                  Hatfield      1
122                 Collinses      1
123                     Sally      1
124              Brighton!--I      1
125                  Ashworth      1
126              Purvis Lodge      1
127                Haggerston      1
128          William Goulding      1
129                     Stone      1
130                  Nicholls      1
131               Darcy!--and      1
132                     Sarah      1
133                      Bath      1

## Named Entities

|Type Label|Description|
|:---:|:---:|
|PERSON|People, including fictional.|
|NORP|Nationalities or religious or political groups.|
|FAC|Buildings, airports, highways, bridges, etc.|
|ORG|Companies, agencies, institutions, etc.|
|GPE|Countries, cities, states.|
|LOC|Non-GPE locations, mountain ranges, bodies of water.|
|PRODUCT|Objects, vehicles, foods, etc. (Not services.)|
|EVENT|Named hurricanes, battles, wars, sports events, etc.|
|WORK_OF_ART|Titles of books, songs, etc.|
|LAW|Named documents made into laws.|
|LANGUAGE|Any named language.|
|DATE|Absolute or relative dates or periods.|
|TIME|Times smaller than a day.|
|PERCENT|Percentage, including ”%“.|
|MONEY|Monetary values, including unit.|
|QUANTITY|Measurements, as of weight or distance.|
|ORDINAL|“first”, “second”, etc.|
|CARDINAL|Numerals that do not fall under another type.|

## Discussion

- How well does spaCy's NER seem to be performing?
- What does it do well or not so well?
- How could you imagine researchers, data scientists, yourself using NER in a project?