# HathiTrust Book Data

## Install HTRC Feature Reader

In [ ]:
!pip install htrc-feature-reader

In [2]:
from htrc_features import Volume

In [3]:
volume = Volume("mdp.39015029970129")

uc2.ark:/13960/t7pn9353t

In [4]:
volume

In [5]:
volume.publisher

'HarperPerennial'

In [11]:
volume.tokenlist()

                          count
page section token   pos
1    body    ,       ,        1
             .046    CD       1
             1993    CD       1
             3560    CD       1
             AWARD   NN       1
...                         ...
260  body    world   NN       2
             would   MD       1
             writers NNS      1
             written VBN      1
             •       SYM      1

[51297 rows x 1 columns]

In [13]:
volume.tokenlist().sample(20)

                             count
page section token     pos
149  body    of        IN        5
169  body    ever      RB        1
239  body    his       PRP$      3
17   body    do        VB        2
37   body    down      IN        1
93   body    different JJ        2
17   body    for       IN        2
115  body    train     NN        4
57   body    way       NN        1
199  body    We        PRP       1
200  body    dressing  VBG       2
153  body    drunk     JJ        1
141  body    world     NN        3
108  body    go        VB        1
91   body    longest   JJS       1
56   body    Roger     NNP       3
146  body    she       PRP       4
232  body    People    NNS       1
55   body    He        PRP       4
96   body    did       VBD       1

## Find a HathiTrust Volume ID

You can find a book's HathiTrust volume ID by following these steps:
- First, search the HathiTrust catalog. I recommend searching with the [Advanced Catalog Search](https://catalog.hathitrust.org/Search/Advanced).
- When you find the item that you're looking for, click "Limited (Search only)" or "Full View," depending on the copyright status of the item
- Then copy and paste the HathiID from the URL of the web page that you're taken to
    - For example:
        - https://babel.hathitrust.org/cgi/pt?id=mdp.39015029970129 -> `mdp.39015029970129`
        - https://babel.hathitrust.org/cgi/pt?id=uc2.ark:/13960/t7pn9353t&view=1up&seq=7 -> `uc2.ark:/13960/t7pn9353t`
    - When in doubt, look in the left sidebar for "Permanent link to this book." The volume ID will follow 2027
        - https://hdl.handle.net/2027/uc2.ark:/13960/t7pn9353t -> `uc2.ark:/13960/t7pn9353t`

In [209]:
from IPython.display import IFrame
IFrame("../videos/Find-HathiTrust-Volume-ID.mp4", width='100%', height='400px')

https://babel.hathitrust.org/cgi/pt?id=mdp.39015029970129

## Download Volume IDs From A HathiTrust Collection

https://solr2.htrc.illinois.edu/solr-ef/?solr-key-q=17083A600227127535CCB993F515A8220&start=31&group-by-vol=0

In [1]:
!pip install htrc

Collecting htrc
  Using cached htrc-0.1.53.tar.gz (81 kB)
Collecting PyLD
  Using cached PyLD-2.0.3.tar.gz (70 kB)
Requirement already satisfied: future in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from htrc) (0.18.2)
Collecting prov
  Using cached prov-1.5.3-py2.py3-none-any.whl (423 kB)
Collecting unicodecsv
  Using cached unicodecsv-0.14.1.tar.gz (10 kB)
Collecting progressbar2
  Using cached progressbar2-3.53.1-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: requests in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from htrc) (2.23.0)
Collecting argparse==1.1
  Using cached argparse-1.1.zip (151 kB)
Collecting topicexplorer==1.0b226
  Using cached topicexplorer-1.0b226-py2.py3-none-any.whl (2.2 MB)
Requirement already satisfied: cachetools in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from PyLD->htrc) (4.1.0)
Collecting frozendict
  Using cached frozendict-1.2.tar.gz (2.6 kB)
Requirement already satisfied: lxml in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from PyLD->htrc) (4.5.2)
Collecting rdflib>=4.2.1
  Using cached rdflib-5.0.0-py3-none-any.whl (231 kB)
Requirement already satisfied: six>=1.9.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from prov->htrc) (1.14.0)
Requirement already satisfied: python-dateutil>=2.2 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from prov->htrc) (2.8.1)
Requirement already satisfied: networkx>=2.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from prov->htrc) (2.4)
Collecting python-utils>=2.3.0
  Using cached python_utils-2.4.0-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from requests->htrc) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from requests->htrc) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from requests->htrc) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from requests->htrc) (2.9)
Requirement already satisfied: matplotlib>=2.0.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from topicexplorer==1.0b226->htrc) (3.2.1)
Collecting webtest>=2.0.29
  Using cached WebTest-2.0.35-py2.py3-none-any.whl (32 kB)
Collecting brewer2mpl<1.5.0,>=1.4.0
  Using cached brewer2mpl-1.4.1-py2.py3-none-any.whl (24 kB)
Collecting numpy<1.16.4,>=1.11.3
  Downloading numpy-1.16.3-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (13.9 MB)
     |████████████████████████████████| 13.9 MB 12.5 MB/s eta 0:00:01
Collecting waitress>=1.0.0
  Downloading waitress-1.4.4-py2.py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 12.6 MB/s eta 0:00:01
Requirement already satisfied: nltk<4.0.0,>=3.0.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from topicexplorer==1.0b226->htrc) (3.5)
Requirement already satisfied: notebook>=4.0.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from topicexplorer==1.0b226->htrc) (6.0.3)
Collecting bottle>=0.12.0
  Downloading bottle-0.12.18-py3-none-any.whl (89 kB)
     |████████████████████████████████| 89 kB 9.2 MB/s  eta 0:00:01
Requirement already satisfied: Unidecode in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from topicexplorer==1.0b226->htrc) (1.1.1)
Processing /Users/melaniewalsh/Library/Caches/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f/wget-3.2-cp37-none-any.whl
Collecting Paste==2.0.3
  Using cached Paste-2.0.3-py34-none-any.whl (625 kB)
Collecting sortedcontainers>=1.5.7
  Downloading sortedcontainers-2.2.2-py2.py3-none-any.whl (29 kB)
Processing /Users/melaniewalsh/Library/Caches/pip/wheels/28/77/e4/0311145b9c2e2f01470e744855131f9e34d6919687550f87d1/ujson-1.35-cp37-cp37m-macosx_10_7_x86_64.whl
Collecting pdfminer.six==20170720
  Using cached pdfminer.six-20170720.tar.gz (12.0 MB)
Requirement already satisfied: decorator>=4.0.5 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from topicexplorer==1.0b226->htrc) (4.4.2)
Collecting pystache==0.5.4
  Downloading pystache-0.5.4.tar.gz (75 kB)
     |████████████████████████████████| 75 kB 6.1 MB/s eta 0:00:011
Collecting pybtex==0.21
  Downloading pybtex-0.21.tar.gz (364 kB)
     |████████████████████████████████| 364 kB 7.4 MB/s eta 0:00:01
Requirement already satisfied: scipy>=0.19.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from topicexplorer==1.0b226->htrc) (1.4.1)
Collecting vsm>=0.4.15
  Using cached vsm-0.4.15-cp37-cp37m-macosx_10_7_x86_64.whl (230 kB)
Requirement already satisfied: scikit-learn>=0.18.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from topicexplorer==1.0b226->htrc) (0.22.2.post1)
Collecting langdetect>=1.0.0
  Downloading langdetect-1.0.8.tar.gz (981 kB)
     |████████████████████████████████| 981 kB 9.3 MB/s eta 0:00:01
Collecting profilehooks>=1.8.0
  Downloading profilehooks-1.12.0-py2.py3-none-any.whl (12 kB)
Collecting mock>=2.0.0
  Downloading mock-4.0.2-py3-none-any.whl (28 kB)
Collecting snakeviz>=0.4.0
  Downloading snakeviz-2.1.0-py2.py3-none-any.whl (282 kB)
     |████████████████████████████████| 282 kB 21.5 MB/s eta 0:00:01
Requirement already satisfied: pyparsing in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from rdflib>=4.2.1->prov->htrc) (2.4.7)
Collecting isodate
  Using cached isodate-0.6.0-py2.py3-none-any.whl (45 kB)
Requirement already satisfied: cycler>=0.10 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=2.0.0->topicexplorer==1.0b226->htrc) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=2.0.0->topicexplorer==1.0b226->htrc) (1.2.0)
Collecting WebOb>=1.2
  Downloading WebOb-1.8.6-py2.py3-none-any.whl (114 kB)
     |████████████████████████████████| 114 kB 19.9 MB/s eta 0:00:01
Requirement already satisfied: beautifulsoup4 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from webtest>=2.0.29->topicexplorer==1.0b226->htrc) (4.6.0)
Requirement already satisfied: tqdm in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nltk<4.0.0,>=3.0.0->topicexplorer==1.0b226->htrc) (4.46.0)
Requirement already satisfied: regex in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nltk<4.0.0,>=3.0.0->topicexplorer==1.0b226->htrc) (2018.1.10)
Requirement already satisfied: joblib in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nltk<4.0.0,>=3.0.0->topicexplorer==1.0b226->htrc) (0.14.1)
Requirement already satisfied: click in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nltk<4.0.0,>=3.0.0->topicexplorer==1.0b226->htrc) (7.1.2)
Requirement already satisfied: jupyter-client>=5.3.4 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (6.1.3)
Requirement already satisfied: ipython-genutils in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.2.0)
Requirement already satisfied: ipykernel in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (5.2.1)
Requirement already satisfied: nbformat in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (5.0.6)
Requirement already satisfied: nbconvert in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (5.6.1)
Requirement already satisfied: pyzmq>=17 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (19.0.0)
Requirement already satisfied: Send2Trash in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (1.5.0)
Requirement already satisfied: jinja2 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (2.11.2)
Requirement already satisfied: jupyter-core>=4.6.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (4.6.3)
Requirement already satisfied: terminado>=0.8.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.8.3)
Requirement already satisfied: tornado>=5.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (6.0.4)
Requirement already satisfied: prometheus-client in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.7.1)
Requirement already satisfied: traitlets>=4.2.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (4.3.3)
Collecting pycryptodome
  Downloading pycryptodome-3.9.8-cp37-cp37m-macosx_10_6_intel.whl (14.1 MB)
     |████████████████████████████████| 14.1 MB 10.8 MB/s eta 0:00:01  |                                | 20 kB 4.6 MB/s eta 0:00:048.5 MB/s eta 0:00:02
Requirement already satisfied: PyYAML>=3.01 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from pybtex==0.21->topicexplorer==1.0b226->htrc) (5.3.1)
Requirement already satisfied: latexcodec>=1.0.4 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from pybtex==0.21->topicexplorer==1.0b226->htrc) (2.0.0)
Collecting py4j
  Downloading py4j-0.10.9.1-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 8.0 MB/s eta 0:00:01
Collecting cython
  Downloading Cython-0.29.21-cp37-cp37m-macosx_10_9_x86_64.whl (1.9 MB)
     |████████████████████████████████| 1.9 MB 14.6 MB/s eta 0:00:01
Collecting translate
  Downloading translate-3.5.0-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: appnope; platform_system == "Darwin" in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.1.0)
Requirement already satisfied: ipython>=5.0.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (7.14.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbformat->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (3.2.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.8.4)
Requirement already satisfied: testpath in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.4.4)
Requirement already satisfied: defusedxml in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.6.0)
Requirement already satisfied: bleach in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (3.1.5)
Requirement already satisfied: pygments in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (2.6.1)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (1.4.2)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from jinja2->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (1.1.1)
Collecting tox
  Downloading tox-3.20.0-py2.py3-none-any.whl (83 kB)
     |████████████████████████████████| 83 kB 2.7 MB/s eta 0:00:011
Collecting pre-commit
  Downloading pre_commit-2.7.1-py2.py3-none-any.whl (171 kB)
     |████████████████████████████████| 171 kB 10.4 MB/s eta 0:00:01
Requirement already satisfied: backcall in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (3.0.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (4.8.0)
Requirement already satisfied: jedi>=0.10 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.17.0)
Requirement already satisfied: setuptools>=18.5 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (46.1.3.post20200325)
Requirement already satisfied: pickleshare in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.7.5)
Requirement already satisfied: attrs>=17.4.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (19.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.16.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (1.6.0)
Requirement already satisfied: webencodings in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.5.1)
Requirement already satisfied: packaging in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (20.1)
Requirement already satisfied: py>=1.4.17 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from tox->translate->vsm>=0.4.15->topicexplorer==1.0b226->htrc) (1.9.0)
Requirement already satisfied: filelock>=3.0.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from tox->translate->vsm>=0.4.15->topicexplorer==1.0b226->htrc) (3.0.10)
Requirement already satisfied: toml>=0.9.4 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from tox->translate->vsm>=0.4.15->topicexplorer==1.0b226->htrc) (0.10.1)
Collecting virtualenv!=20.0.0,!=20.0.1,!=20.0.2,!=20.0.3,!=20.0.4,!=20.0.5,!=20.0.6,!=20.0.7,>=16.0.0
  Downloading virtualenv-20.0.31-py2.py3-none-any.whl (4.9 MB)
     |████████████████████████████████| 4.9 MB 2.9 MB/s eta 0:00:01     |████████▌                       | 1.3 MB 2.9 MB/s eta 0:00:02     |████████████████████▎           | 3.1 MB 2.9 MB/s eta 0:00:01     |████████████████████████████▎   | 4.3 MB 2.9 MB/s eta 0:00:01
Requirement already satisfied: pluggy>=0.12.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from tox->translate->vsm>=0.4.15->topicexplorer==1.0b226->htrc) (0.13.1)
Collecting nodeenv>=0.11.1
  Downloading nodeenv-1.5.0-py2.py3-none-any.whl (21 kB)
Collecting cfgv>=2.0.0
  Downloading cfgv-3.2.0-py2.py3-none-any.whl (7.3 kB)
Collecting identify>=1.0.0
  Downloading identify-1.5.4-py2.py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 7.2 MB/s  eta 0:00:01
Requirement already satisfied: wcwidth in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.1.9)
Requirement already satisfied: ptyprocess>=0.5 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.6.0)
Requirement already satisfied: parso>=0.7.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.7.0)
Requirement already satisfied: zipp>=0.5 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (3.1.0)
Collecting appdirs<2,>=1.4.3
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting distlib<1,>=0.3.1
  Downloading distlib-0.3.1-py2.py3-none-any.whl (335 kB)
     |████████████████████████████████| 335 kB 11.0 MB/s eta 0:00:01
Building wheels for collected packages: htrc, PyLD, unicodecsv, argparse, frozendict, pdfminer.six, pystache, pybtex, langdetect
  Building wheel for htrc (setup.py) ... done
  Created wheel for htrc: filename=htrc-0.1.53-py3-none-any.whl size=141298 sha256=59ec494ea26fd096d0cff6bd8ea8e5101c93e328502c2b9ebccc59ec66aa2385
  Stored in directory: /Users/melaniewalsh/Library/Caches/pip/wheels/84/e9/eb/eca433a7f59f75a7a4c055d1d45d6d7f6c646dc7082fb0f592
  Building wheel for PyLD (setup.py) ... done
  Created wheel for PyLD: filename=PyLD-2.0.3-py3-none-any.whl size=70851 sha256=380cc8dd744e91034ff9da5f025c36422e3800625b50edf4346b7f4f29cbbad3
  Stored in directory: /Users/melaniewalsh/Library/Caches/pip/wheels/cb/96/f3/73dbc98120b9f1835a00e015d400709b452032e388ad6fb205
  Building wheel for unicodecsv (setup.py) ... done
  Created wheel for unicodecsv: filename=unicodecsv-0.14.1-py3-none-any.whl size=10766 sha256=17ed2b26317384ae5108f2cfd426d12c23b9e263f48ce3b99b9c3730d42182e9
  Stored in directory: /Users/melaniewalsh/Library/Caches/pip/wheels/1a/f4/8a/a5024fb77b32ed369e5c409081e5f00fbe3b92fdad653f6e69
  Building wheel for argparse (setup.py) ... done
  Created wheel for argparse: filename=argparse-1.1-py3-none-any.whl size=20733 sha256=f9abeafad4ef5877b4b79580cd34fcae80b32ff1a3b4d0b1b5eed1b207aeecb4
  Stored in directory: /Users/melaniewalsh/Library/Caches/pip/wheels/59/e1/77/ca719b6be5cfdef5d09090cb37f86df1d9bbdd0749a0e48860
  Building wheel for frozendict (setup.py) ... done
  Created wheel for frozendict: filename=frozendict-1.2-py3-none-any.whl size=3148 sha256=d9d3a55ed9dc3153775aab1cf050559d6ae5696987d74e97c955cf72b2dc51eb
  Stored in directory: /Users/melaniewalsh/Library/Caches/pip/wheels/68/17/69/ac196dd181e620bba5fae5488e4fd6366a7316dce13cf88776
  Building wheel for pdfminer.six (setup.py) ... done
  Created wheel for pdfminer.six: filename=pdfminer.six-20170720-py3-none-any.whl size=5598447 sha256=95e7d0c852080b036eba1fdd793fbcd74fd068f433f565bad82a9d2c9519759b
  Stored in directory: /Users/melaniewalsh/Library/Caches/pip/wheels/80/45/53/67894b7a665e79cb590c6d8852f1873ceece60cc2e5d4516cd
  Building wheel for pystache (setup.py) ... done
  Created wheel for pystache: filename=pystache-0.5.4-py3-none-any.whl size=82928 sha256=08eb8804a86f3c345ba361d798bd9cec8772df60ff15d80510feccc6cfd3f52c
  Stored in directory: /Users/melaniewalsh/Library/Caches/pip/wheels/7e/fc/21/ac5286aa035303d281ff1a1c2fe6ce3682d2ee2bdcf7f6d89a

James Baldwin HathiTrust collection that I created: https://babel.hathitrust.org/cgi/mb?a=listis;c=2098723708

In [318]:
from htrc import workset
volume_ids = workset.load_hathitrust_collection('https://babel.hathitrust.org/cgi/mb?a=listis;c=2098723708')

In [319]:
volume_ids

['uva.x000691804',
 'mdp.39015041612683',
 'mdp.39015084118606',
 'mdp.39015031598124',
 'uva.x002228607',
 'mdp.39015063278306',
 'mdp.39015054289775',
 'mdp.39015046412022',
 'mdp.39015027359721',
 'mdp.39015019555161']

In [320]:
for hathi_id in volume_ids:
    vol = Volume(hathi_id)
    print(hathi_id, vol.title)

uva.x000691804 Another country
mdp.39015041612683 Collected essays /
mdp.39015084118606 The devil finds work : an essay /
mdp.39015031598124 The fire next time /
uva.x002228607 Giovanni's room /
mdp.39015063278306 Go tell it on the mountain /
mdp.39015054289775 If Beale Street could talk /
mdp.39015046412022 Just above my head /
mdp.39015027359721 Little man, little man : a story of childhood /
mdp.39015019555161 Notes of a native son /

## Download Volume IDs From HathiTrust Workset

Make a Workset. Then Download volumes IDs.

In [349]:
volume_ids = pd.read_csv('James-Baldwin-Workset.csv')['id']

In [350]:
for hathi_id in volume_ids:
    vol = Volume(hathi_id)
    print(hathi_id, vol.title)

mdp.39015041612683 Collected essays /
pst.000043352395 Evidence of things not seen /
mdp.39015011372029 No name in the street.
uc1.32106002160320 Giovanni's room; a novel.
mdp.39015001385916 The devil finds work : an essay /
uc1.32106005373219 Go tell it on the mountain.
mdp.39015013970754 The amen corner; a play. -
mdp.39015027359721 Little man, little man : a story of childhood /
uc1.32106007393728 Another country.
mdp.39076006860543 Just above my head /
mdp.39015000361173 Notes of a native son.
pst.000027232392 Going to meet the man.
uc1.32106018392966 The fire next time /
mdp.39015015148243 Blues for Mister Charlie.
uc1.32106013535023 Tell me how long the train's been gone; a novel.

## Download HathiTrust Extracted Features From the Web

In [53]:
from htrc_features import Volume

In [207]:
volume = Volume("mdp.39015029970129")

uc2.ark:/13960/t7pn9353t

In [208]:
volume

## Read in HathiTrust Extracted Features From Local File

In [56]:
from htrc_features import Volume

In [57]:
volume = Volume("hathi-files/mdp/31272/mdp.39015029970129.json.bz2")

In [58]:
volume

## Make Word Frequency Pandas DataFrame from HathiTrust Volume(s)

In [129]:
import pandas as pd

In [130]:
from htrc_features import Volume

In [131]:
volume_ids = ['mdp.39015029970129']

In [132]:
all_tokens = []

for hathi_id in volume_ids:
    #Read in volume
    volume = Volume(hathi_id)
    
    #Make dataframe from token list -- do not include part of speech, sections, or case sensitivity
    token_df = volume.tokenlist(case=False, pos=False, drop_section=True)
    
    #Add book column
    token_df['book'] = volume.title
    
    #Add publication year column
    token_df['year'] = volume.year
    
    all_tokens.append(token_df)

In [133]:
lost_df = pd.concat(all_tokens)

In [134]:
lost_df

                count                          book  year
page lowercase
1    ,              1  Lost in the city : stories /  1993
     .046           1  Lost in the city : stories /  1993
     1993           1  Lost in the city : stories /  1993
     3560           1  Lost in the city : stories /  1993
     a              1  Lost in the city : stories /  1993
...               ...                           ...   ...
260  would          1  Lost in the city : stories /  1993
     writers        1  Lost in the city : stories /  1993
     written        1  Lost in the city : stories /  1993
     york           1  Lost in the city : stories /  1993
     •              1  Lost in the city : stories /  1993

[47307 rows x 3 columns]

Change from multi-level index to regular index with `reset_index()`

In [135]:
lost_df_flattened = lost_df.reset_index()

In [136]:
lost_df_flattened

       page lowercase  count                          book  year
0         1         ,      1  Lost in the city : stories /  1993
1         1      .046      1  Lost in the city : stories /  1993
2         1      1993      1  Lost in the city : stories /  1993
3         1      3560      1  Lost in the city : stories /  1993
4         1         a      1  Lost in the city : stories /  1993
...     ...       ...    ...                           ...   ...
47302   260     would      1  Lost in the city : stories /  1993
47303   260   writers      1  Lost in the city : stories /  1993
47304   260   written      1  Lost in the city : stories /  1993
47305   260      york      1  Lost in the city : stories /  1993
47306   260         •      1  Lost in the city : stories /  1993

[47307 rows x 5 columns]

In [137]:
def add_chapter_titles(page):
    if page >= 11 and page < 35:
        return "01: The Girl Who Raised Pigeons"
    elif page >= 35 and page < 41:
        return "02: The First Day"
    elif page >= 41 and page < 63:
        return "03: The Night Rhonda Ferguson Was Killed"
    elif page >= 63 and page < 85:
        return "04: Young Lions"
    elif page >= 85 and page < 113:
        return "05: The Store"
    elif page >= 113 and page < 125:
        return "06: An Orange Line Train to Ballston"
    elif page >= 125 and page < 149:
        return "07: The Sunday Following Mother's Day"
    elif page >= 149 and page < 159:
        return "08: Lost in the City"
    elif page >= 159 and page < 184:
        return "09: His Mother's House"
    elif page >= 184 and page < 191:
        return "10: A Butterfly on F Street"
    elif page >= 191 and page < 209:
        return "11: Gospel"
    elif page >= 209 and page < 225:
        return "12: A New Man"
    elif page >= 225 and page < 237:
        return "13: A Dark Night"
    elif page >= 237:
        return "14: Marie"

In [138]:
lost_df_flattened['chapter'] = lost_df_flattened['page'].apply(add_chapter_titles)

In [139]:
lost_df_flattened['chapter'].value_counts()

05: The Store                               5989
01: The Girl Who Raised Pigeons             4999
09: His Mother's House                      4966
07: The Sunday Following Mother's Day       4825
04: Young Lions                             4313
03: The Night Rhonda Ferguson Was Killed    4119
11: Gospel                                  3668
14: Marie                                   3194
12: A New Man                               2846
13: A Dark Night                            2341
08: Lost in the City                        1964
06: An Orange Line Train to Ballston        1817
02: The First Day                           1023
10: A Butterfly on F Street                  865
Name: chapter, dtype: int64

Summarize token counts for each book

In [140]:
lost_df_flattened.groupby(['chapter', 'lowercase'])[['count']].sum().reset_index()

                               chapter lowercase  count
0      01: The Girl Who Raised Pigeons         !      8
1      01: The Girl Who Raised Pigeons         '      4
2      01: The Girl Who Raised Pigeons        ''    111
3      01: The Girl Who Raised Pigeons        'd      1
4      01: The Girl Who Raised Pigeons       'll      5
...                                ...       ...    ...
18249                        14: Marie      your      8
18250                        14: Marie         |      1
18251                        14: Marie         •      1
18252                        14: Marie         €      1
18253                        14: Marie         ™      2

[18254 rows x 3 columns]

In [141]:
word_frequency_df = lost_df_flattened.groupby(['chapter', 'lowercase'])[['count']].sum().reset_index()

## Remove Infrequent Words, Stopwords, & Punctuation

Remove words that appear less than 5 times in a book

In [142]:
#word_frequency_df = word_frequency_df[word_frequency_df['count'] > 5]

Remove stopwords

In [143]:
STOPS = ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', 'your', 'yours',
         'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', 'her', 'hers',
         'herself', 'it', 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves',
         'what', 'which', 'who', 'whom', 'this', 'that', 'these', 'those', 'am', 'is', 'are',
         'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does',
         'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until',
         'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into',
         'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down',
         'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here',
         'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',
         'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so',
         'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', 'should', 'now', 've', 'll', 'amp', "!"]

In [144]:
word_frequency_df = word_frequency_df.drop(word_frequency_df[word_frequency_df['lowercase'].isin(STOPS)].index)

Remove punctuation

In [145]:
word_frequency_df = word_frequency_df.drop(word_frequency_df[word_frequency_df['lowercase'].str.contains('[^A-Za-z\s]', regex=True)].index)

In [146]:
word_frequency_df

                               chapter  lowercase  count
36     01: The Girl Who Raised Pigeons  abandoned      2
37     01: The Girl Who Raised Pigeons       able      2
40     01: The Girl Who Raised Pigeons   absently      1
41     01: The Girl Who Raised Pigeons   absolute      1
42     01: The Girl Who Raised Pigeons   accepted      1
...                                ...        ...    ...
18242                        14: Marie        yes      2
18243                        14: Marie  yesterday      2
18244                        14: Marie        yet      1
18245                        14: Marie       york      1
18248                        14: Marie      young      8

[15857 rows x 3 columns]

## TFIDF

In [147]:
word_frequency_df = word_frequency_df.rename(columns={'lowercase': 'term','count': 'term_frequency'})

In [148]:
word_frequency_df

                               chapter       term  term_frequency
36     01: The Girl Who Raised Pigeons  abandoned               2
37     01: The Girl Who Raised Pigeons       able               2
40     01: The Girl Who Raised Pigeons   absently               1
41     01: The Girl Who Raised Pigeons   absolute               1
42     01: The Girl Who Raised Pigeons   accepted               1
...                                ...        ...             ...
18242                        14: Marie        yes               2
18243                        14: Marie  yesterday               2
18244                        14: Marie        yet               1
18245                        14: Marie       york               1
18248                        14: Marie      young               8

[15857 rows x 3 columns]

### Calculate Document Frequency

In how many stories in the collection does this term appear?

In [149]:
document_frequency_df = (word_frequency_df.groupby(['chapter','term']).size().unstack(fill_value=0) > 0).sum().reset_index()

In [150]:
document_frequency_df = document_frequency_df.rename(columns={0:'document_frequency'})

In [151]:
word_frequency_df = word_frequency_df.merge(document_frequency_df)

In [152]:
word_frequency_df

,chapter,term,term_frequency,document_frequency
0,01: The Girl Who Raised Pigeons,abandoned,2,3
1,07: The Sunday Following Mother's Day,abandoned,1,3
2,09: His Mother's House,abandoned,1,3
3,01: The Girl Who Raised Pigeons,able,2,12
4,03: The Night Rhonda Ferguson Was Killed,able,3,12
...,...,...,...,...
15852,14: Marie,wise,8,1
15853,14: Marie,wittily,1,1
15854,14: Marie,womanish,1,1
15855,14: Marie,worships,1,1
15856,14: Marie,writers,1,1

As you can see in the DataFrame above, the term "abandoned" appears 2 times in the story "The Girl Who Raised Pigeons" (term frequency), and it appears in 3 different stories in the collection overall (document frequency).

### Calculate Total Number of Documents

In [153]:
total_number_of_documents = lost_df_flattened['chapter'].nunique()

### Calculate TFIDF

In [193]:
import numpy as np

```
tfidf = term_frequency * inverse_document_frequency
```

```
inverse_document_frequency = log [ n / (df(t) + 1) ]
```

Scikitlearn version of [inverse document frequency with smoothing](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html#sklearn.feature_extraction.text.TfidfTransformer)

```
inverse_document_frequency = log [ (1 + n) / (1 + df(t)) ] + 1
```

In [162]:
((numpy.log((1 + total_number_of_documents) / (1 + word_frequency_df['document_frequency']))) + 1)

0        2.321756
1        2.321756
2        2.321756
3        1.143101
4        1.143101
           ...
15852    3.014903
15853    3.014903
15854    3.014903
15855    3.014903
15856    3.014903
Name: document_frequency, Length: 15857, dtype: float64

In [188]:
word_frequency_df['tfidf'] = word_frequency_df['term_frequency']  *       \
                            ((numpy.log((1 + total_number_of_documents) / (1 + word_frequency_df['document_frequency']))) + 1)

In [189]:
#word_frequency_df['tfidf_standardized']= (word_frequency_df['tfidf'] - word_frequency_df['tfidf'].mean())/word_frequency_df['tfidf'].std()

In [190]:
from sklearn import preprocessing

In [191]:
word_frequency_df['tfidf_sklearnnormalized'] = sklearn.preprocessing.normalize(word_frequency_df[['tfidf']], axis=0, norm='l2')

Find top 15 words with highest tfidf scores for each book

In [192]:
word_frequency_df.sort_values(by=['chapter','tfidf_sklearnnormalized'], ascending=[True,False]).groupby(['chapter']).head(15)

,chapter,term,term_frequency,document_frequency,tfidf,tfidf_normalized,tfidf_sklearnnormalized
658,01: The Girl Who Raised Pigeons,betsy,44,1,132.655733,14.525708,0.106340
3321,01: The Girl Who Raised Pigeons,jenny,42,1,126.625927,13.842227,0.101506
214,01: The Girl Who Raised Pigeons,ann,45,2,117.424706,12.799266,0.094130
5578,01: The Girl Who Raised Pigeons,robert,36,1,108.536509,11.791786,0.087005
1387,01: The Girl Who Raised Pigeons,coop,28,1,84.417285,9.057864,0.067671
7904,01: The Girl Who Raised Pigeons,would,84,14,84.000000,9.010564,0.067336
5064,01: The Girl Who Raised Pigeons,pigeons,30,2,78.283137,8.362556,0.062753
4248,01: The Girl Who Raised Pigeons,miss,46,10,60.267127,6.320435,0.048311
691,01: The Girl Who Raised Pigeons,birds,29,5,55.572431,5.788290,0.044548
1194,01: The Girl Who Raised Pigeons,clara,17,1,51.253351,5.298721,0.041086
5634,01: The Girl Who Raised Pigeons,said,47,13,50.242665,5.184159,0.040276
5362,01: The Girl Who Raised Pigeons,ralph,17,2,44.360445,4.517407,0.035560
4199,01: The Girl Who Raised Pigeons,miles,21,4,44.070858,4.484583,0.035328
5063,01: The Girl Who Raised Pigeons,pigeon,14,1,42.208642,4.273500,0.033835
6851,01: The Girl Who Raised Pigeons,thelma,14,1,42.208642,4.273500,0.033835
4350,02: The First Day,mother,42,13,44.897701,4.578306,0.035991
7789,02: The First Day,woman,23,14,23.000000,2.096194,0.018437
8680,02: The First Day,takes,7,2,18.266065,1.559601,0.014642
3903,02: The First Day,looks,6,2,15.656627,1.263820,0.012551
8589,02: The First Day,says,7,5,13.414035,1.009621,0.010753
8229,02: The First Day,form,6,4,12.591674,0.916407,0.010094
5713,02: The First Day,school,10,11,12.231436,0.875573,0.009805
8596,02: The First Day,seaton,4,1,12.059612,0.856097,0.009667
4768,02: The First Day,one,12,14,12.000000,0.849340,0.009619
8287,02: The First Day,jersey,5,3,11.608779,0.804995,0.009306
8688,02: The First Day,tells,4,3,9.287023,0.541823,0.007445
8054,02: The First Day,appears,3,1,9.044709,0.514357,0.007250
8064,02: The First Day,asks,3,1,9.044709,0.514357,0.007250
8107,02: The First Day,blondelle,3,1,9.044709,0.514357,0.007250
8378,02: The First Day,mary,3,1,9.044709,0.514357,0.007250
8997,03: The Night Rhonda Ferguson Was Killed,cassandra,130,1,391.937393,43.915371,0.314185
9719,03: The Night Rhonda Ferguson Was Killed,melanie,65,1,195.968696,21.702254,0.157092
8800,03: The Night Rhonda Ferguson Was Killed,anita,68,2,177.441778,19.602221,0.142241
10030,03: The Night Rhonda Ferguson Was Killed,rhonda,42,1,126.625927,13.842227,0.101506
5635,03: The Night Rhonda Ferguson Was Killed,said,109,13,116.520223,12.696742,0.093405
9411,03: The Night Rhonda Ferguson Was Killed,gladys,38,2,99.158641,10.728801,0.079488
8967,03: The Night Rhonda Ferguson Was Killed,car,42,11,51.372029,5.312173,0.041181
6524,03: The Night Rhonda Ferguson Was Killed,street,42,13,44.897701,4.578306,0.035991
456,03: The Night Rhonda Ferguson Was Killed,back,39,14,39.000000,3.909799,0.031263
2606,03: The Night Rhonda Ferguson Was Killed,get,36,13,38.483743,3.851281,0.030849
2650,03: The Night Rhonda Ferguson Was Killed,girls,17,4,35.676409,3.533069,0.028599
2208,03: The Night Rhonda Ferguson Was Killed,father,32,13,34.207772,3.366599,0.027422
10510,03: The Night Rhonda Ferguson Was Killed,wesley,13,2,33.922693,3.334285,0.027193
9596,03: The Night Rhonda Ferguson Was Killed,joyce,12,2,31.313255,3.038504,0.025101
9859,03: The Night Rhonda Ferguson Was Killed,pearl,11,2,28.703817,2.742723,0.023010
10727,04: Young Lions,caesar,75,1,226.117727,25.119656,0.181261
11562,04: Young Lions,sherman,60,1,180.894181,19.993552,0.145008
11231,04: Young Lions,manny,44,1,132.655733,14.525708,0.106340
10732,04: Young Lions,carol,29,1,87.432188,9.399604,0.070087
5636,04: Young Lions,said,71,13,75.898494,8.092256,0.060842
11487,04: Young Lions,retarded,22,2,57.407634,5.996311,0.046019
7907,04: Young Lions,would,57,14,57.000000,5.950105,0.045692
11049,04: Young Lions,heh,17,1,51.253351,5.298721,0.041086
7791,04: Young Lions,woman,44,14,44.000000,4.476551,0.035271
10598,04: Young Lions,anna,13,1,39.193739,3.931760,0.031418
4015,04: Young Lions,man,34,13,36.345758,3.608940,0.029135
457,04: Young Lions,back,35,14,35.000000,3.456398,0.028057
1404,04: Young Lions,could,29,13,31.000793,3.003086,0.024851
7213,04: Young Lions,two,30,14,30.000000,2.889646,0.024049
2209,04: Young Lions,father,28,13,29.931800,2.881916,0.023994
12619,05: The Store,penny,57,2,148.737961,16.348634,0.119231
5637,05: The Store,said,79,13,84.450437,9.061621,0.067697
7908,05: The Store,would,79,14,79.000000,8.443813,0.063328
6493,05: The Store,store,51,10,66.817901,7.062968,0.053563
12393,05: The Store,jenkins,19,1,57.283157,5.982201,0.045919
12415,05: The Store,kentucky,23,3,53.400384,5.542088,0.042807
12467,05: The Store,lonney,17,1,51.253351,5.298721,0.041086
458,05: The Store,back,50,14,50.000000,5.156653,0.040081
4771,05: The Store,one,48,14,48.000000,4.929952,0.038478
4353,05: The Store,mother,42,13,44.897701,4.578306,0.035991
6983,05: The Store,time,42,14,42.000000,4.249850,0.033668
1555,05: The Store,day,40,14,40.000000,4.023150,0.032065
1405,05: The Store,could,34,13,36.345758,3.608940,0.029135
2210,05: The Store,father,32,13,34.207772,3.366599,0.027422
11902,05: The Store,baxter,11,1,33.163933,3.248279,0.026585
13190,06: An Orange Line Train to Ballston,marcus,38,1,114.566315,12.475266,0.091839
13092,06: An Orange Line Train to Ballston,avis,26,1,78.387479,8.374383,0.062837
13192,06: An Orange Line Train to Ballston,marvin,24,1,72.357672,7.690903,0.058003
13191,06: An Orange Line Train to Ballston,marvella,23,1,69.342769,7.349162,0.055587
5638,06: An Orange Line Train to Ballston,said,64,13,68.415544,7.244061,0.054843
4017,06: An Orange Line Train to Ballston,man,63,13,67.346551,7.122890,0.053986
7098,06: An Orange Line Train to Ballston,train,25,5,47.907268,4.919441,0.038403
13263,06: An Orange Line Train to Ballston,subway,15,1,45.223545,4.615240,0.036252
13133,06: An Orange Line Train to Ballston,dreadlocks,11,1,33.163933,3.248279,0.026585
13132,06: An Orange Line Train to Ballston,dreadlock,8,1,24.119224,2.223058,0.019334
3772,06: An Orange Line Train to Ballston,line,18,10,23.582789,2.162253,0.018904
4811,06: An Orange Line Train to Ballston,orange,11,4,23.084735,2.105799,0.018505
4354,06: An Orange Line Train to Ballston,mother,17,13,18.172879,1.549038,0.014568
13096,06: An Orange Line Train to Ballston,ballston,6,1,18.089418,1.539578,0.014501
3748,06: An Orange Line Train to Ballston,like,17,14,17.000000,1.416092,0.013628
13677,07: The Sunday Following Mother's Day,madeleine,74,1,223.102824,24.777916,0.178844
13676,07: The Sunday Following Mother's Day,maddie,62,1,186.923987,20.677033,0.149842
13820,07: The Sunday Following Mother's Day,samuel,41,1,123.611024,13.500487,0.099089
13819,07: The Sunday Following Mother's Day,sam,34,1,102.506703,11.108305,0.082171
5639,07: The Sunday Following Mother's Day,said,81,13,86.588423,9.303963,0.069411
7910,07: The Sunday Following Mother's Day,would,71,14,71.000000,7.537010,0.056915
13761,07: The Sunday Following Mother's Day,pookie,21,1,63.312963,6.665682,0.050753
9116,07: The Sunday Following Mother's Day,curtis,16,2,41.751007,4.221627,0.033468
13329,07: The Sunday Following Mother's Day,arnisa,13,1,39.193739,3.931760,0.031418
13943,07: The Sunday Following Mother's Day,williams,12,1,36.178836,3.590019,0.029002
1407,07: The Sunday Following Mother's Day,could,33,13,35.276765,3.487769,0.028279
1557,07: The Sunday Following Mother's Day,day,35,14,35.000000,3.456398,0.028057
4018,07: The Sunday Following Mother's Day,man,32,13,34.207772,3.366599,0.027422
460,07: The Sunday Following Mother's Day,back,33,14,33.000000,3.229697,0.026453
4773,07: The Sunday Following Mother's Day,one,32,14,32.000000,3.116347,0.025652
14129,08: Lost in the City,lydia,32,1,96.476897,10.424825,0.077338
5640,08: Lost in the City,said,46,13,49.173672,5.062988,0.039419
4356,08: Lost in the City,mother,44,13,47.035686,4.820647,0.037705
11002,08: Lost in the City,georgia,19,3,44.113361,4.489400,0.035362
975,08: Lost in the City,cab,13,5,24.911780,2.312895,0.019970
9180,08: Lost in the City,driver,8,5,15.330326,1.226834,0.012289
13958,08: Lost in the City,antibes,5,1,15.074515,1.197837,0.012084
14026,08: Lost in the City,dreaming,5,1,15.074515,1.197837,0.012084
3460,08: Lost in the City,know,15,14,15.000000,1.189391,0.012024
7911,08: Lost in the City,would,15,14,15.000000,1.189391,0.012024
2611,08: Lost in the City,get,14,13,14.965900,1.185526,0.011997
4019,08: Lost in the City,man,14,13,14.965900,1.185526,0.011997
6939,08: Lost in the City,thought,14,14,14.000000,1.076041,0.011223
10217,08: Lost in the City,sorry,9,8,13.597431,1.030409,0.010900
4774,08: Lost in the City,one,13,14,13.000000,0.962690,0.010421
9597,09: His Mother's House,joyce,84,2,219.192785,24.334712,0.175709
14563,09: His Mother's House,rickey,64,1,192.953793,21.360513,0.154676
14579,09: His Mother's House,santiago,54,1,162.804763,17.943111,0.130508
5641,09: His Mother's House,said,96,13,102.623316,11.121523,0.082265
14434,09: His Mother's House,humphrey,33,1,99.491800,10.766565,0.079755
9860,09: His Mother's House,pearl,22,2,57.407634,5.996311,0.046019
14577,09: His Mother's House,sandy,18,1,54.268254,5.640461,0.043503
4775,09: His Mother's House,one,50,14,50.000000,5.156653,0.040081
7912,09: His Mother's House,would,49,14,49.000000,5.043303,0.039279
14627,09: His Mother's House,smokey,16,1,48.238448,4.956980,0.038669
3176,09: His Mother's House,house,35,12,40.008530,4.024116,0.032072
3751,09: His Mother's House,like,38,14,38.000000,3.796449,0.030462
4357,09: His Mother's House,mother,35,13,37.414751,3.730111,0.029992
6685,09: His Mother's House,table,29,11,35.471163,3.509804,0.028434
7796,09: His Mother's House,woman,35,14,35.000000,3.456398,0.028057
9726,10: A Butterfly on F Street,mildred,27,2,70.454824,7.475214,0.056478
7797,10: A Butterfly on F Street,woman,29,14,29.000000,2.776296,0.023247
14726,10: A Butterfly on F Street,butterfly,7,1,21.104321,1.881318,0.016918
14761,10: A Butterfly on F Street,mansfield,6,1,18.089418,1.539578,0.014501
5642,10: A Butterfly on F Street,said,16,13,17.103886,1.427867,0.013711
6531,10: A Butterfly on F Street,street,14,13,14.965900,1.185526,0.011997
14764,10: A Butterfly on F Street,median,4,1,12.059612,0.856097,0.009667
14801,10: A Butterfly on F Street,woolworth,4,1,12.059612,0.856097,0.009667
463,10: A Butterfly on F Street,back,10,14,10.000000,0.622639,0.008016
5684,10: A Butterfly on F Street,say,9,13,9.620936,0.579672,0.007712
14765,10: A Butterfly on F Street,morton,3,1,9.044709,0.514357,0.007250
9282,10: A Butterfly on F Street,f,5,6,8.810700,0.487832,0.007063
1560,10: A Butterfly on F Street,day,8,14,8.000000,0.395939,0.006413
7913,10: A Butterfly on F Street,would,8,14,8.000000,0.395939,0.006413
9412,10: A Butterfly on F Street,gladys,3,2,7.828314,0.376478,0.006275
15149,11: Gospel,vivian,68,1,205.013405,22.727474,0.164343
14896,11: Gospel,diane,42,1,126.625927,13.842227,0.101506
14996,11: Gospel,maude,32,1,96.476897,10.424825,0.077338
5643,11: Gospel,said,77,13,82.312451,8.819280,0.065983
8801,11: Gospel,anita,25,2,65.235948,6.883653,0.052294
15059,11: Gospel,reverend,18,2,46.969882,4.813188,0.037652
14947,11: Gospel,gospelteers,15,1,45.223545,4.615240,0.036252
14991,11: Gospel,mae,15,1,45.223545,4.615240,0.036252
2849,11: Gospel,group,26,7,42.343825,4.288823,0.033944
7914,11: Gospel,would,42,14,42.000000,4.249850,0.033668
1411,11: Gospel,could,39,13,41.690722,4.214793,0.033420
1179,11: Gospel,church,26,9,36.542093,3.631195,0.029293
14886,11: Gospel,counsel,12,1,36.178836,3.590019,0.029002
7812,11: Gospel,women,31,12,35.436126,3.505833,0.028406
4022,11: Gospel,man,31,13,33.138779,3.245428,0.026565
15403,12: A New Man,woodrow,57,1,171.849472,18.968331,0.137758
15335,12: A New Man,rita,22,1,66.327866,7.007422,0.053170
7915,12: A New Man,would,37,14,37.000000,3.683098,0.029660
5644,12: A New Man,said,33,13,35.276765,3.487769,0.028279
4023,12: A New Man,man,27,13,28.862808,2.760745,0.023137
15240,12: A New Man,elaine,9,1,27.134127,2.564798,0.021751
1412,12: A New Man,could,23,13,24.586836,2.276062,0.019709
2217,12: A New Man,father,22,13,23.517843,2.154891,0.018852
4778,12: A New Man,one,23,14,23.000000,2.096194,0.018437
15216,12: A New Man,cunningham,7,1,21.104321,1.881318,0.016918
1550,12: A New Man,daughter,16,10,20.962479,1.865240,0.016804
8552,12: A New Man,read,12,7,19.543304,1.704376,0.015666
2033,12: A New Man,even,16,13,17.103886,1.427867,0.013711
4743,12: A New Man,old,16,13,17.103886,1.427867,0.013711
5312,12: A New Man,put,16,13,17.103886,1.427867,0.013711
15480,13: A Dark Night,garrett,38,1,114.566315,12.475266,0.091839
15417,13: A Dark Night,beatrice,31,1,93.461994,10.083084,0.074921
15433,13: A Dark Night,carmena,20,1,60.298060,6.323941,0.048336
5645,13: A Dark Night,said,49,13,52.380651,5.426500,0.041989
10467,13: A Dark Night,uncle,14,2,36.532131,3.630065,0.029285
15573,13: A Dark Night,thunder,12,1,36.178836,3.590019,0.029002
15489,13: A Dark Night,henry,10,1,30.149030,2.906539,0.024168
1740,13: A Dark Night,door,27,14,27.000000,2.549595,0.021644
1519,13: A Dark Night,daddy,17,8,25.684036,2.400430,0.020589
15498,13: A Dark Night,joe,8,1,24.119224,2.223058,0.019334
4779,13: A Dark Night,one,23,14,23.000000,2.096194,0.018437
15420,13: A Dark Night,boone,7,1,21.104321,1.881318,0.016918
15507,13: A Dark Night,lightning,7,1,21.104321,1.881318,0.016918
7916,13: A Dark Night,would,21,14,21.000000,1.869493,0.016834
14105,13: A Dark Night,john,10,4,20.986123,1.867920,0.016823
13683,14: Marie,marie,49,2,127.862458,13.982389,0.102497
15845,14: Marie,vernelle,30,1,90.447091,9.741344,0.072504
15851,14: Marie,wilamena,20,1,60.298060,6.323941,0.048336
5646,14: Marie,said,51,13,54.518636,5.668842,0.043703
7917,14: Marie,would,37,14,37.000000,3.683098,0.029660
4025,14: Marie,man,32,13,34.207772,3.366599,0.027422
11527,14: Marie,security,13,2,33.922693,3.334285,0.027193
7801,14: Marie,woman,31,14,31.000000,3.002996,0.024850
15778,14: Marie,receptionist,10,1,30.149030,2.906539,0.024168
7041,14: Marie,told,25,13,26.724822,2.518404,0.021423
11613,14: Marie,social,10,2,26.094379,2.446943,0.020918
4780,14: Marie,one,26,14,26.000000,2.436245,0.020842
15618,14: Marie,calhoun,8,1,24.119224,2.223058,0.019334
15852,14: Marie,wise,8,1,24.119224,2.223058,0.019334
15091,14: Marie,smith,9,2,23.484941,2.151162,0.018826

## Get Metadata

In [5]:
volume.title

'Lost in the city : stories /'

In [6]:
volume.year

1993

In [7]:
volume.page_count

260

In [8]:
volume.publisher

'HarperPerennial'

In [9]:
volume.handle_url

'http://hdl.handle.net/2027/mdp.39015029970129'

In [16]:
volume.parser.meta

{'id': 'mdp.39015029970129',
 'metadata_schema_version': 'https://schemas.hathitrust.org/EF_Schema_MetadataSubSchema_v_3.0',
 'enumeration_chronology': None,
 'type_of_resource': 'http://id.loc.gov/ontologies/bibframe/Text',
 'title': 'Lost in the city : stories /',
 'date_created': 20200209,
 'pub_date': 1993,
 'language': 'eng',
 'access_profile': 'google',
 'isbn': '0060975571',
 'issn': None,
 'lccn': '92054781',
 'oclc': '27685090',
 'page_count': 260,
 'feature_schema_version': 'https://schemas.hathitrust.org/EF_Schema_FeaturesSubSchema_v_3.0',
 'access_rights': 'ic',
 'alternate_title': None,
 'category': 'American literature',
 'genre_ld': ['http://id.loc.gov/vocabulary/marcgt/doc',
  'http://id.loc.gov/vocabulary/marcgt/fic'],
 'genre': ['document (computer)', 'fiction'],
 'contributor_ld': {'id': 'http://www.viaf.org/viaf/114552168',
  'type': 'http://id.loc.gov/ontologies/bibframe/Person',
  'name': 'Jones, Edward P.'},
 'contributor': 'Jones, Edward P.',
 'handle_url': 'http://hdl.handle.net/2027/mdp.39015029970129',
 'source_institution_ld': {'type': 'http://id.loc.gov/ontologies/bibframe/Organization',
  'name': 'MIU'},
 'source_institution': 'MIU',
 'lcc': 'PS3560.O4813L67 1993',
 'type': ['DataFeedItem', 'Book'],
 'is_part_of': None,
 'last_rights_update_date': 20170725,
 'pub_place_ld': {'id': 'http://id.loc.gov/vocabulary/countries/nyu',
  'type': 'http://id.loc.gov/ontologies/bibframe/Place',
  'name': 'New York (State)'},
 'pub_place': 'New York (State)',
 'main_entity_of_page': ['https://catalog.hathitrust.org/Record/002724042',
  'http://catalog.hathitrust.org/api/volumes/brief/oclc/27685090.json',
  'http://catalog.hathitrust.org/api/volumes/full/oclc/27685090.json'],
 'publisher_ld': {'id': 'http://catalogdata.library.illinois.edu/lod/entities/ProvisionActivityAgent/ht/HarperPerennial',
  'type': 'http://id.loc.gov/ontologies/bibframe/Organization',
  'name': 'HarperPerennial'},
 'publisher': 'HarperPerennial'}

All possible metadata categories

In [18]:
volume.parser.meta.keys()

dict_keys(['id', 'metadata_schema_version', 'enumeration_chronology', 'type_of_resource', 'title', 'date_created', 'pub_date', 'language', 'access_profile', 'isbn', 'issn', 'lccn', 'oclc', 'page_count', 'feature_schema_version', 'access_rights', 'alternate_title', 'category', 'genre_ld', 'genre', 'contributor_ld', 'contributor', 'handle_url', 'source_institution_ld', 'source_institution', 'lcc', 'type', 'is_part_of', 'last_rights_update_date', 'pub_place_ld', 'pub_place', 'main_entity_of_page', 'publisher_ld', 'publisher'])

## Work With Tokens

In [19]:
volume.tokenlist()

                          count
page section token   pos
1    body    ,       ,        1
             .046    CD       1
             1993    CD       1
             3560    CD       1
             AWARD   NN       1
...                         ...
260  body    world   NN       2
             would   MD       1
             writers NNS      1
             written VBN      1
             •       SYM      1

[51297 rows x 1 columns]

In [20]:
volume.tokenlist(page=False, section=None, pos=False)

ERROR:root:Invalid section argument: None

## Further Resources

Peter Organisciak and Boris Capitanu, ["Text Mining in Python through the HTRC Feature Reader,"](https://programminghistorian.org/en/lessons/text-mining-with-extracted-features) *The Programming Historian*